{
    "Version": "2008-10-17",
    "Statement": [
        {
            "Sid": "AllowEC2ToReadKeyBucket",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:aws:iam::${account_id}:role/${ec2_role}"
            },
            "Action": "s3:ListBucket",
            "Resource": "arn:aws:s3:::${key_bucket}"
        },
        {
            "Sid": "AllowEC2ToReadKeyBucketObjects",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:aws:iam::${account_id}:role/${ec2_role}"
            },
            "Action": [
                "s3:Get*",
                "s3:List*"
            ],
            "Resource": "arn:aws:s3:::${key_bucket}/*"
        }
    ]
}
